{% extends 'base.html' %}
{% load staticfiles %}
{% block active_home %}class="active"{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h2>Hello, Raccoon!</h2>
            <br>
            <div class="row"
            {% if user.is_authenticated %}
                {% if presentee %}
                    <div class="row">
                        <p>Your Presentee is</p>
                        {% if presentee.avatar and presentee.avatar.url %}
                        <p>
                            <img src="{{presentee.avatar.url}}" class="img-responsive" width="200px" style="margin: 0 auto"/>
                        </p>
                        {% endif %}
                        <div class="row presentee-info">
                            <div class="col-md-6 text-right">
                                <p>Name:</p>
                                <p>Email:</p>
                                {% if wishlist %}
                                <p>(S)He would like to get:</p>
                                {% else %}
                                <p>Wishlist:</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6 text-left">
                                <p id='presentee'>{{presentee.name}}</p>
                                <p>{{presentee.email}}</p>
                                {% if wishlist %}
                                <p>{{ wishlist }}</p>
                                {% else %}
                                <p>Raccoon has not added it :(</p>
                                {% endif %}
                            </div>
                        </div>
                        <div><img src='/static/images/wohoo.gif' class='img-responsive center-block'/></div>
                    </div>
                {% else %}
                <div class="row">
                    <div class="col-md-12" id="santa_button">
                        <button type="button" name="button" class="btn btn-success"
                                onclick="RaccoonSanta.send_request('/api/v0/assign/')">
                            I want to be a Secret Raccoon Santa
                        </button>
                        <br>

                    </div>
                </div>
                <br>
                {% endif %}
                <div class="row" id="santa_result"></div>
            {% endif %}
            </div>
            <h3>There are still <span id="counter">{{ raccoons }}</span> raccoons who want to get presents.</h3>
        </div>
    </div>
{% endblock %}

{% block extend_script %}
    <script type="text/javascript" src="{% static 'js/santa.js' %}"></script>
{% endblock %}
