{% extends 'base.html' %}
{% load staticfiles %}
{% block active_home %}class="active"{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Hello, Raccoon!</h1>
            <br>
            {% if user.is_authenticated %}
                {% if presentee %}
                    <div class="row">
                        <p>Your Presentee is {{ presentee }}</p>
                    </div>
                {% else %}
                <div class="row" id="santa_button">
                    <button type="button" name="button" class="btn btn-success"
                            onclick="RaccoonSanta.send_request('/api/v0/assign/')">
                        I want to be a Secret Raccoon Santa
                    </button>
                </div>
                <div class="row" id="santa_result"></div>
                <br>
                {% endif %}
            {% endif %}
            <h3>There are {{ raccoons }} raccoons want to get presents.</h3>
        </div>
    </div>
{% endblock %}

{% block extend_script %}
    <script type="text/javascript" src="{% static 'js/santa.js' %}"></script>
{% endblock %}
